@use "../partials/colors.scss" as c;
.header {
  background-color: c.$bg-surface;
  height: 180px;
  .title {
    color: black;
  }
  &__status {
    color: black;
  }

  &__message {
    &--live {
      color: c.$brand;
    }
  }
}
