@use "../partials/colors.scss" as c;

.word-display {
  display: flex;
  align-items: center;
  justify-content: center;

  &__letter {
    font-size: 1.5rem;
    font-weight: bold;
    color: c.$correct;
    margin: 0 6px;
    min-width: 18px;
    text-align: center;
    text-transform: uppercase;
  }
}
